<!-- <nav class="navbar navbar-expand-lg navbar-dark navHeader text-white">
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink=""><i class="far fa-home fa-2x mr-2"></i>
            Home
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="fas fa-clipboard-list fa-2x mr-2"></i>Briefs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="fal fa-inbox-in fa-2x mr-2"></i>Rendus</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="far fa-compass fa-2x mr-2"></i>Explorer</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#"><i class="far fa-comments fa-2x mr-2"></i>Forum</a>
          </li>
          <div class="dropdown">
            
            <div class="btn  btn-secondary dropdown-toggle navHeader" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="far fa-users fa-2x mr-2"></i>Users
            </div>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
              <button class="dropdown-item" type="button" routerLink="/home/users">Users</button>
              <button class="dropdown-item" type="button" routerLink="/home/profils">Profils</button>
            </div>
          </div>
          <li class="nav-item">
            <a class="nav-link" href="#"><i class="far fa-cog fa-2x mr-2"></i>Parametres</a>
          </li>
          <div class="dropdown">
            <a  class="btn btn-secondary  dropdown-toggle navHeader" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-history fa-2x mr-2"></i>Historiques Promos
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
              <button class="dropdown-item" type="button" routerLink="/promo/list">Promo</button>
              <button class="dropdown-item" type="button" routerLink="">Referentiels</button>
              <button class="dropdown-item" type="button" routerLink="/grpeCompetences/list">Groupe de Competences</button>
              <button class="dropdown-item" type="button" routerLink="/competences/list">Competences</button>
              <button class="dropdown-item" type="button" routerLink="">Groupe de Tags</button>
              <button class="dropdown-item" type="button" routerLink="/profilSortie/list">Profil de Sortie</button>
            </div>
          </div>
      </ul>
      <span class="iconify" data-icon="ant-design:user-add-outlined" data-inline="false"></span>
    </div>
  </nav> -->