.tables {
    margin-left: 35%;
    font-size: 18px;
    margin-top: 6%;
    text-align: center;
}

.Titre {
    margin-top: 2%;
    font-weight: bold;
    text-align: center;
}

.ajouter {
    margin-left: 25%;
    width: 90px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    margin-top: 1%;
}

