<div class="card"></div>
<h3 class="Titre">Ajouter un Profil</h3>
<div class="inputAjout">
<form class="form-group">
    <div class="form-group row">
        <label class="col-sm-2 col-form-label text-dark labels">Libelle</label>
        <div class="col-sm-10">
          <input type="text" class="form-control champ border-dark h-75 w-75" id="" placeholder="Libelle">
        </div>
      </div>
      <button class="btn btn-warning btSubmit" type="button">Soumettre</button>
      <!-- <button class="btn btn-warning annuler" type="button">Annuler</button> -->

    </form>
</div>
 