<router-outlet></router-outlet>
<div class="card cardPrincipal shadow-lg p-3 mb-5 bg-white">
    <h3 class="Titre">Liste des Profils</h3>
    <div class="row">
        <div class="col-sm-7">
            <table class="table table-bordered tables">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">Libelle</th>
                    <th scope="col-sm-2">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let profil of data">
                    <td >{{profil.libelle}}</td>
                    <td >
                        <a  class="btn btn-sm btn-outline-success mr-2">Liste Admin</a>
                        <a  class="btn btn-sm btn-outline-warning mr-2">Edit</a>
                        <a  class="btn btn-sm btn-outline-danger mr-2">Supprimer</a>
                    </td>
                  </tr>
                  
                </tbody>
            </table>
          </div>