
<h3>Liste des Promos</h3>
<hr>
<div>
    <a routerLink="/promo/add" class="btn btn-sm btn-outline-info row">Ajouter</a>
</div>
<div class="row ">
    <div class="col-sm-7">
        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Avatar</th>
                <th scope="col">Nom</th>
                <th scope="col">Prenom</th>
                <th scope="col">Mail</th>
                <th scope="col">Profil</th>
                <th scope="col">Prenom</th>
                <th scope="col-sm-2">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Mark</td>
                <td>Otto</td>
                <td>Otto</td>
                <td>Otto</td>
                <td>Otto</td>
                <td>Otto</td>
                <td>
                    <a  class="btn btn-sm btn-outline-info mr-2 br-5">Details</a>
                    <a  class="btn btn-sm btn-outline-info mr-2">Edit</a>
                    <a  class="btn btn-sm btn-outline-info mr-2">Supprimer</a>
                </td>
              </tr>
              <tr>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>Thornton</td>
                <td>Thornton</td>
                <td>Thornton</td>
                <td>Thornton</td>
                <td>
                    <a  class="btn btn-sm btn-outline-info mr-2">Details</a>
                    <a class="btn btn-sm btn-outline-info mr-2">Edit</a>
                    <a  class="btn btn-sm btn-outline-info mr-2">Supprimer</a>
                </td>
              </tr>
              <tr>
                <td>Larry</td>
                <td>the Bird</td>
                <td>the Bird</td>
                <td>the Bird</td>
                <td>the Bird</td>
                <td>the Bird</td>
                <td>
                    <a  class="btn btn-sm btn-outline-info mr-2">Details</a>
                    <a  class="btn btn-sm btn-outline-info mr-2">Edit</a>
                    <a  class="btn btn-sm btn-outline-info mr-2">Supprimer</a>
                </td>  
              </tr>
            </tbody>
          </table>
    </div>
</div>
