.tables {
    width: 125%;
    margin-left: 30%;
    font-size: 20px;
    margin-top: 10%;
    text-align: center;
}

.Titre {
    margin-top: 5%;
    font-weight: bold;
    text-align: center;
}

.ajouter {
    margin-left: 75%;
    width: 90px;
    font-size: 30px;
    font-weight: bold;
    border-radius: 5px;
    margin-top: 2%;
    color: rgb(55, 154, 167);
}
.cardPrincipal {
    max-width: 70%; 
    height: 740px; 
    margin-left: 15%; 
    border-radius: 5px; 
    margin-top: 6%;
}
