<router-outlet></router-outlet>
<div class="card"></div>
<h3 class="Titre">Liste des Groupes de Compétences</h3>

<a routerLink="/grpeCompetences/add"><i class="fas fa-user-plus ajouter"></i></a>
<div class="row ">
    <div class="col-sm-7">
        <table class="table table-bordered tables">
  <thead>
    <tr>
      <th scope="col">Libelle</th>
      <th scope="col">Description</th>
      <th scope="col">Competences</th>
      <th scope="col-sm-2">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let grpComp of dataGrpComp">
      <td>{{grpComp.libelle}}</td>
      <td>{{grpComp.description}}</td>
      <td>{{grpComp.competences.libelle}}</td>
      <td>
          <a  class="btn btn-sm btn-outline-info mr-2">Edit</a>
          <a  class="btn btn-sm btn-outline-danger mr-2">Supprimer</a>
      </td>
    </tr>
  </tbody>
</table>