.labels {
    margin-top: 5px;
    font-size: 20px;
    font-weight: bold;
}
.inputAjout {
    margin-top: 50px;
    width: 45%;
    height: 440px;
    margin-left: 15%; 
}
.Titre {
    margin-top: 2%;
    font-weight: bold;
    text-align: center;
}
.btSubmit {
    width: 24%;
    height: 46px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    margin-left: 70%;
    margin-top: 2%;
}
.champ {
    border-radius: 10px;
    background: rgb(228, 225, 225);
}
.avatar {
    width: 25%;
    height: 200px;
    border: 1px solid rgb(92, 88, 88);
    margin-left: 110%;
    margin-top: -50%;
    border-radius: 500px;
}