<div class="card"></div>
<h3 class="Titre">Ajouter Groupe de Compétences</h3>
<div class="inputAjout">
    <form class="form-group">
        <div class="form-group row">
            <label class="col-sm-2 col-form-label text-dark labels">Libelle</label>
            <div class="col-sm-10">
              <input type="text" class="form-control champ border-dark h-75 w-75" id="" placeholder="Libelle">
            </div>
          </div>
          <div class="form-floating">
            <label class="col-sm-2 col-form-label text-dark labels" for="">Descriptif</label>
            <textarea class="form-control textArea" placeholder="Donner le Descriptif" id=""></textarea>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label text-dark labels">Compétences</label>
            <div class="col-sm-10">
              <div>
                <input type="text" class="form-control champ border-dark h-75 w-75" id="" placeholder="">

              </div>
            </div>
          </div>
          <button class="btn btn-warning btSubmit" type="button">Soumettre</button>
    </form>
    <div class="avatar"></div>

</div>
